body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #1d3557;
  color: #f1faee ;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

h2 {
  display: flex;
  justify-content: center;
}

#fitnessPic {
  max-width: 1000px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

